<footer class="page-footer">
  <div class="container valign-wrapper">
    <span>
      Originally created by <a href="https://github.com/sabeechen" target="_blank" rel="noreferrer">Stephen Beechen</a>.
      Maintained by <a href="https://github.com/msupczenski" target="_blank" rel="noreferrer">Mike Supczenski</a>.
    </span>
  </div>
</footer>
